
/* Carousel - Header */
.carousel-container-blog {
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.carousel-outer {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  padding: 0 16px;
}

.carousel-item {
  flex: 0 0 auto;
  width: 300px;
  box-sizing: border-box;
}
.carousel-header-blog {
  padding: 20px 20px 0px;
}
.carousel-header-blog h2 {
  /* font-size: 24px; */
  font-size: 34px;
  margin-bottom: 10px;
  text-color: #ffffff;
  font-weight: 600;
}

.carousel-header-blog div {
  font-size: 16px;
  color: #878D92;
  margin-bottom: 10px;
  font-weight: 400;
  /* font-style: italic; */
}
.card-title-blog {
color: #ffffff!important;
font-size: 23px!important;
font-family: "Inter"!important;
font-weight: 600!important;
}
.card-title-blog.bg-transparent.card {
--bs-card-border-color: #2c2b2b;
--bs-card-border: solid;
--bs-card-border-width: 1px;
--bs-card-border-radius: 9px;
}

.col-12.col-md-6.col-lg-4.card-col-blog.col {
padding-left: 15px;
padding-right: 15px;
}

nav {
display: flex;  
align-self: flex-start;
}
.breadcrumb-item:not(:last-child):after {
content: "\003E"; /* Unicode right arrow character */
padding: 0 5px; /* Adjust spacing */
padding-left: 5px;
padding-right: 5px;
font-size:large;
}
.breadcrumb {
color: white;
}

@media screen and (max-width: 600px) {
  .carousel-header-blog h2 {
    font-size: 20px;
  }

  .carousel-header-blog div {
    font-size: 14px;
  }
}