a {
    text-decoration: none;
    cursor: pointer; 
    color: white;
}


button.schedule-btn:hover {    
    background-color: #F1B537;
    color: black;
}
button.schedule-btn:active,
button.schedule-btn:focus  {
    background-color: #F1B537;
    color: black;
}
.button.schedule-btn {    
    padding: 7px 4px;
    background-color: transparent;
    color: #F1B537;
    border: 1px solid;
    border-color: #F1B537;
}
.schedule-row2-data {
    padding: 20px 15px;
    border: 1px solid #A1A1A6;
    border-color: #393939!important;
    border-width: 2px!important;
    border-radius: 15px;
    margin: 15px 0 0 2px;
    text-align: left;
}

.lb1 {
    color: #A1A1A6;
    line-height: normal;
    /* padding-top: 10px; */
    font-size: 18px;
    margin: 0;

}
.lb1-white {
    color: #fff;
    /* font-weight: bold; */
}
.lb1-row1,
.lb1-row2 {
    margin: 0 0 20px 0;
}

.schedule-lb2 {
    color: #A1A1A6;
    line-height: normal;
    /* padding-top: 10px; */
    font-size: 18px;    
}
.schedule-col2-lb2 {
    line-height: 0.7;
    margin-right: 20px;
}

.lb2-btn {
    padding: 10px 15px;
}

.schedule-row2-data.active-content {
    display: flex;
  }
  
.schedule-row2-data {
    display: none;
}
.card-body > .about-us-card-title.card-title.h5 {
    font-weight: 600;
    margin-bottom: 20px;
}

div#mentors {
    margin-bottom: 7rem;
}
.certificate-container {
    background-color: #202020;   
    align-items: left;
    border: 5px;
    /* max-width: 1352px;   */
    /* padding: 30px; */
    /* padding-left: 75px !important; 
    padding-right: 75px !important; */
    color: #878d92;
    /* margin-bottom: 25px; */
    font-size : 16px;   
    width: auto;    
}
.certificate-container.container {
    margin-top: -10%; 
  }
  .certificate-container.container h2 {
    color: #fff;
    text-align: left;
    font-size: 34px;
    margin-bottom: 25px;
  }
  .certificate-container.container p {
    margin-bottom: 0px;
    letter-spacing: 0.92px;
    width: max-content;
  }
  h1.h1-testimnoials {
    font-size: 60px;
    font-weight: 600;
    line-height: 1.6;
    color: #fff;
  }




@media screen and (min-width: 1350px) {
    .three-card-display .divowl-item {
        width: 33.33%;
    }
}
@media screen and (max-width: 800px) {
    div#mentors {    
          margin-bottom: 0%;
    }
}
@media screen and (max-width: 550px) {
    .certificate-container.container {
        margin-left: 5%;
        margin-right: 5%;
    }
    h1.h1-testimnoials, 
    h1.h1-testimnoials  {
        font-size: 40px;
    }
}

@media screen and (max-width: 400px) {
    .three-card-display .divowl-item {
        width: 100%;
    }
}