
/* Carousel - Header */
.carousel-container-gallery {
    overflow: hidden;
    width: 100%;
  }
  
  .carousel-outer {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    padding: 0 16px;
  }
  
  .carousel-item {
    flex: 0 0 auto;
    width: 300px;
    box-sizing: border-box;
  }
  .carousel-header-gallery {
    padding: 20px 20px 0px;
  }
  .carousel-header-gallery h2 {
    /* font-size: 24px; */
    font-size: 34px;
    margin-bottom: 10px;
    text-color: #ffffff;
    font-weight: 600;
  }
  
  .carousel-header-gallery div {
    font-size: 16px;
    color: #878D92;
    margin-bottom: 10px;
    font-weight: 400;
    /* font-style: italic; */
}
.card-title-gallery {
  color: #ffffff!important;
  font-size: 23px!important;
  font-family: "Inter"!important;
  font-weight: 600!important;
}
.card-title-gallery.bg-transparent.card {
  --bs-card-border-color: #2c2b2b;
  --bs-card-border: solid;
  --bs-card-border-width: 1px;
  --bs-card-border-radius: 0px;
}

.col-12.col-md-6.col-lg-4.card-col-gallery.col {
  padding-left: 15px;
  padding-right: 15px;
}

nav {
  display: flex;  
  align-self: flex-start;
}
.breadcrumb-item:not(:last-child):after {
  content: "\003E"; /* Unicode right arrow character */
  padding: 0 5px; /* Adjust spacing */
  padding-left: 5px;
  padding-right: 5px;
  font-size:large;
}
.breadcrumb {
  color: white;
}


/* CSS for Contact US FORM */
.contactus-row {
  color: #F1B537;
  padding: 3%;
}
.contactus-container.container {
  background-color: #202020; 
  /* border-color: red; */
  border: 5px;
  /* max-width: 1352px; */
  margin-top: -15%;
  margin-bottom: 70px;
}
.about-us-LWL-container.container {
  margin-top: -3%;
}
.about-us-container.container,
.lets-connect-container.container {
  background-color: #202020;   
  align-items: left;
  border: 5px;
  max-width: 1352px;  
  padding: 30px;
  /* padding-left: 75px !important; 
  padding-right: 75px !important; */
  color: #878d92;
  margin-bottom: 25px;
  font-size : 16px;    
}

.about-us-container.container {
  margin-top: -10%; 
}
.about-us-container.container h2 {
  color: #fff;
  text-align: left;
  font-size: 34px;
  margin-bottom: 25px;
}
.about-us-container.container p {
  margin-bottom: 0px;
  letter-spacing: 0.92px;
}
.lets-connect-container.container {
  justify-content: center;
}
.lets-connect-row.row.row-cols-auto {
  justify-content: space-between;
  align-items: center;
}

.about-us-card.card {
  /* width: 100%; */
  background-color: transparent;
  border-color: #878d92;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 15px;
  box-shadow: none;
  margin-left: 5.76%;
  margin-right: 5.76%;
  justify-content: flex-start;

  /* min-width: 100%!important; */
    height: 100%!important;
}

.about-us-card-title.card-title.h5 {
  /* font-size: 22px!important; */
  line-height: 24px!important;
  color: #fff;
  font-size: 26px;
  margin-bottom: 35px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}
.about-us-card-text {
  color: #878D92!important;
  font-size: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.015em;
  line-height: 1.72;
}
.row h5 {
  color: #878D92!important;
}

p .para-4  {
  margin-bottom: 25px;
}

.contactus-row1.row {
  align-items: center;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color:#f1b537;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
}

.contactus-row2.row {
  font-size: 32px;
  line-height: 40px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  display: flex;
}

button.contactus-button {
  padding-top: var(--button_padding-top, 13px);
  padding-right: var(--button_padding-right, 29px);
  padding-bottom: var(--button_padding-bottom, 13px);
  padding-left: var(--button_padding-left, 29px);
}
button.contactus-button:hover {
  border: 0.1px solid #F1B537;

}
/* .google-map-div {
  width: auto;
} */
.contactus-row button span {
  letter-spacing: 3px!important;
}
.span-contactus {
  padding-left: 10px;
}



@media screen and (min-width: 1250px) {
  .contactus-container.container {    
    max-width: 1352px;
  }
}
@media (max-width: 1400px){
.google-map-div {
    max-width: 1320px;
}}

@media (max-width: 1200px){
.google-map-div {
  max-width: 960px;
}}
@media (max-width: 992px){
.google-map-div {
  max-width: 720px;
}}
@media (max-width: 768px){
.google-map-div {
  max-width: 540px;
}}
@media (max-width: 576px){
.google-map-div {
    
}}

  @media screen and (max-width: 600px) {
    .carousel-header-gallery h2 {
      font-size: 20px;
    }
  
    .carousel-header-gallery div {
      font-size: 14px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1300px) {
  .about-us-card-title.card-title.h5 {
      font-size: 22px!important;
      line-height: 24px!important;
  }
}