.figma-logo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  max-width: 100%;
}
.top-level {
  width: 1350px;
  flex-direction: row;
  padding: 0 var(--padding-11xl) 428px var(--padding-xl);
  box-sizing: border-box;
}
.arrow-svg,
.event-img-overlay-parent,
.top-level {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  flex-shrink: 0;
}
.event-img-overlay-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-71xl);
}
.arrow-svg {
  width: 1374px;
  flex-direction: row;
  padding: 0 var(--padding-11xl) var(--padding-44xl) var(--padding-xl);
  box-sizing: border-box;
}
.benefit-from-our {
  position: absolute;
  top: 1px;
  left: 0;
  line-height: 44.2px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 858.1px;
  height: 41px;
}
.heading-2 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 44.2px;
}
.democratising-ivy-league {
  position: absolute;
  top: 1px;
  left: 0;
  line-height: 23.4px;
  display: flex;
  align-items: center;
  width: 362.5px;
  height: 21px;
}
.p,
.section {
  position: absolute;
}
.p {
  width: 100%;
  top: 44.2px;
  right: 0;
  left: 0;
  height: 23.4px;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
}
.section {
  height: calc(100% - 292.4px);
  width: calc(100% - 139.9px);
  top: 0;
  right: 61.1px;
  bottom: 292.4px;
  left: 78.8px;
}
.screenshot-2022-07-13-at-304-icon,
.screenshot-2022-07-13-at-309-icon {
  position: absolute;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  height: 110px;
  object-fit: cover;
}
.screenshot-2022-07-13-at-304-icon {
  width: calc(100% - 1214px);
  top: -0.4px;
  right: 1298.2px;
  left: -84.2px;
}
.screenshot-2022-07-13-at-309-icon {
  width: 15.69%;
  right: 98.94%;
  bottom: 22.4px;
  left: -14.63%;
}
.academies-full-logo-redpng-icon {
  width: calc(100% - 1214px);
  top: -0.4px;
  right: 1052.2px;
  left: 161.8px;
}
.academies-full-logo-redpng-icon,
.group-767-1-1png-icon,
.whatsapp-image-2023-04-04-at-3-icon {
  position: absolute;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  height: 110px;
  object-fit: cover;
}
.whatsapp-image-2023-04-04-at-3-icon {
  width: 15.69%;
  right: 81.85%;
  bottom: 22.4px;
  left: 2.45%;
}
.group-767-1-1png-icon {
  width: calc(100% - 1214px);
  top: -0.4px;
  right: 806.2px;
  left: 407.8px;
}
.hmcsfjpg-icon {
  width: 15.69%;
  right: 64.77%;
  bottom: 22.4px;
  left: 19.53%;
}
.hmcsfjpg-icon,
.image-14png-icon,
.net-workindiapng-icon {
  position: absolute;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  height: 110px;
  object-fit: cover;
}
.net-workindiapng-icon {
  width: calc(100% - 1214px);
  top: -0.4px;
  right: 560.2px;
  left: 653.8px;
}
.image-14png-icon {
  width: 15.69%;
  right: 47.69%;
  bottom: 22.4px;
  left: 36.62%;
}
.newlogojpg-icon {
  width: calc(100% - 1214px);
  top: -0.4px;
  right: 314.2px;
  left: 899.8px;
}
.newlogojpg-icon,
.screenshot-2022-07-13-at-155-icon,
.screenshot-2022-07-13-at-255-icon {
  position: absolute;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  height: 110px;
  object-fit: cover;
}
.screenshot-2022-07-13-at-155-icon {
  width: 15.69%;
  right: 30.6%;
  bottom: 22.4px;
  left: 53.7%;
}
.screenshot-2022-07-13-at-255-icon {
  width: calc(100% - 1214px);
  top: -0.4px;
  right: 68.2px;
  left: 1145.8px;
}
.screenshot-2022-07-13-at-301-icon {
  width: 15.69%;
  right: 13.52%;
  bottom: 22.4px;
  left: 70.78%;
}
.screenshot-2022-07-13-at-301-icon,
.screenshot-2022-07-13-at-304-icon1,
.screenshot-2022-07-13-at-309-icon1 {
  position: absolute;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  height: 110px;
  object-fit: cover;
}
.screenshot-2022-07-13-at-304-icon1 {
  width: calc(100% - 1214px);
  top: -0.4px;
  right: -177.8px;
  left: 1391.8px;
}
.screenshot-2022-07-13-at-309-icon1 {
  width: 15.69%;
  right: -3.56%;
  bottom: 22.4px;
  left: 87.87%;
}
.s-2,
.section1 {
  position: absolute;
}
.section1 {
  top: calc(50% - 80px);
  left: calc(50% - 719.5px);
  width: 1440px;
  height: 260px;
}
.s-2 {
  top: 0;
  left: 15px;
  width: 1425px;
  height: 360px;
}
.s-2-wrapper {
  align-self: stretch;
  height: 432px;
  position: relative;
  display: none;
}
.home {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-300);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-27xl);
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-15xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1350px) {
  .arrow-svg {
    padding-bottom: var(--padding-8xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1150px) {
  .top-level {
    padding-bottom: 278px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .figma-logo {
    gap: var(--gap-29xl);
  }
  .top-level {
    padding-bottom: 181px;
    box-sizing: border-box;
  }
  .event-img-overlay-parent {
    gap: var(--gap-71xl);
  }
  .arrow-svg {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .benefit-from-our {
    font-size: var(--font-size-8xl);
    line-height: 35px;
  }
  .home {
    gap: var(--gap-27xl);
  }
}
@media screen and (max-width: 450px) {
  .event-img-overlay-parent {
    gap: var(--gap-71xl);
  }
  .benefit-from-our {
    font-size: var(--font-size-xl);
    line-height: 27px;
  }
}
