.whatsapp-image-2023-07-14-at-0-icon1 {
  height: 100%;
  width: 848.6px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.left-arrowsvg-icon1,
.right-arrowsvg-icon5 {
  width: 30px;
  height: 19.3px;
  position: absolute;
  margin: 0 !important;
  top: -17px;
  left: 22px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.right-arrowsvg-icon5 {
  left: 96px;
}
.into-arrow-svg {
  width: 546px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-102xl) 0 0;
  box-sizing: border-box;
}
.divcol-lg-12,
.into-arrow-svg,
.link-fellowships1 {
  display: flex;
  position: relative;
  max-width: 100%;
}
.link-fellowships1 {
  height: 121px;
  width: 595.8px;
  letter-spacing: 16.63px;
  line-height: 100.8px;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 3;
  margin-left: -520px;
}
.divcol-lg-12 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-20xl) 0 0;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-81xl-8);
  color: var(--color-goldenrod-100);
  font-family: var(--font-bebas-neue);
}
@media screen and (max-width: 800px) {
  .link-fellowships1 {
    font-size: var(--font-size-31xl);
    line-height: 60px;
  }
}
@media screen and (max-width: 450px) {
  .into-arrow-svg {
    padding-top: var(--padding-60xl);
    box-sizing: border-box;
  }
  .link-fellowships1 {
    font-size: var(--font-size-11xl);
    line-height: 40px;
  }
}
