.ai-ml-1jpg-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -0.8px;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.ai-and-ml {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  z-index: 1;
}
.student-name {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.cultivate-your-acumen {
  position: relative;
  letter-spacing: 0.24px;
  line-height: 15.6px;
}
.right-arrowsvg-icon3,
.small2 {
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.small2 {
  height: 15.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: var(--font-size-smi);
  color: var(--color-gray-100);
}
.right-arrowsvg-icon3 {
  width: 18px;
  height: 13.9px;
  position: absolute;
  margin: 0 !important;
  bottom: 13.8px;
  left: 10px;
}
.figure2 {
  height: 380px;
  width: 294px;
  border-radius: var(--br-3xs);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-19xl) var(--padding-3xs) var(--padding-19xl)
    var(--padding-4xs);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xs);
}
.divfusion-layout-column {
  width: 916px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px 11.8px;
  min-height: 790px;
  max-width: 100%;
  z-index: 2;
  font-size: var(--font-size-base);
}
.div-fusion-column-wrapper,
.s-3 {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.s-3 {
  flex: 1;
  background: linear-gradient(0deg, rgba(32, 32, 32, 0) 70%, #202020 70%);
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-35xl) var(--padding-xl);
  position: relative;
  min-height: 944px;
}
.div-fusion-column-wrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-4xs);
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1150px) {
  .s-3 {
    padding-top: var(--padding-16xl);
    padding-bottom: var(--padding-16xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .s-3 {
    padding-top: var(--padding-4xl);
    padding-bottom: var(--padding-4xl);
    box-sizing: border-box;
  }
}
