.figure-grid-wrapper {
  display: flex;
  justify-content: center;
}

.figure-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
}
@media (max-width: 800px) {
  .figure-grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
