.catelog-img-1 {
  width: 420px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  display: none;
  max-width: 100%;
  z-index: 0;
}
.img-overlay-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.81) 60.5%,
    transparent
  );
  z-index: 1;
}
.heading1 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  z-index: 2;
}
.programs1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.students-conceptualized-novel {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 160%;
  z-index: 2;
}
.img-1 {
  width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-194xl) var(--padding-xl) var(--padding-xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-8xs);
  background-image: url(/public/catelog-img-1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-inter);
}
