.logo-icon {
  height: 59px;
  width: 125px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.item {
  height: 39.5px;
  width: 162.9px;
  position: relative;
  border-radius: var(--br-10xs);
  border: 1px solid var(--color-darkslategray-200);
  box-sizing: border-box;
  display: none;
}
.our-offerings {
  position: relative;
  letter-spacing: 0.24px;
  white-space: nowrap;
  z-index: 1;
}
.chevron-down-icon {
  height: 10px;
  width: 10px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.button-link,
.nav-btn-1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.nav-btn-1 {
  border-radius: var(--br-10xs);
  border: 1px solid var(--color-darkslategray-200);
  align-items: center;
  padding: var(--padding-2xs) var(--padding-4xl) var(--padding-4xs)
    var(--padding-xl);
  gap: var(--gap-11xs);
}
.button-link {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-11xl);
}
.search-anything {
  width: calc(100% - 42px);
  border: 0;
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 19px;
  flex: 1;
  position: relative;
  color: var(--color-gray-200);
  text-align: left;
  display: flex;
  align-items: center;
  min-width: 124px;
  white-space: nowrap;
}
.search-icon {
  height: 18px;
  width: 18px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.main-content-frame {
  flex: 1;
  border: 1px solid var(--color-darkslategray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-smi) var(--padding-2xs)
    var(--padding-2xs);
  gap: var(--gap-5xs);
}
.lets-talk {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 19.2px;
  font-weight: 500;
  white-space: nowrap;
}
.symbol {
  position: relative;
  line-height: 16px;
  font-family: var(--font-font-awesome-5-free);
}
.container-frame,
.link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.link {
  border-radius: var(--br-9xs);
  background-color: var(--color-goldenrod);
  align-items: flex-end;
  padding: var(--padding-xs) var(--padding-lg) var(--padding-smi);
  gap: var(--gap-4xs);
}
.container-frame {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-2xl);
}
.event-image-overlay,
.navigation-links {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.event-image-overlay {
  width: 405px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  text-align: left;
  color: var(--color-gray-300);
}
.navigation-links {
  align-self: stretch;
  height: 62px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 800px) {
  .link {
    display: none;
  }
}
